<!--<%&#45;&#45;<%@ page contentType="text/html;charset=UTF-8" language="java" %>&#45;&#45;%>-->
<!--<%&#45;&#45;<html>&#45;&#45;%>-->
<!--<%&#45;&#45;<head>&#45;&#45;%>-->
    <!--<%&#45;&#45;<title>Hello React</title>&#45;&#45;%>-->
    <!--<%&#45;&#45;<script type="text/javascript" src="../js/react.js"></script>&#45;&#45;%>-->
<!--<%&#45;&#45;</head>&#45;&#45;%>-->
<!--<%&#45;&#45;<body>&#45;&#45;%>-->
<!--<%&#45;&#45;<div id="content">${content}</div>&#45;&#45;%>-->
<!--<%&#45;&#45;<script type="text/javascript" src="../js/commentBox.js"></script>&#45;&#45;%>-->
<!--<%&#45;&#45;<script type="text/javascript">&#45;&#45;%>-->
    <!--<%&#45;&#45;$(function () {&#45;&#45;%>-->
        <!--<%&#45;&#45;renderClient(${data});&#45;&#45;%>-->
    <!--<%&#45;&#45;});&#45;&#45;%>-->
<!--<%&#45;&#45;</script>&#45;&#45;%>-->
<!--<%&#45;&#45;</body>&#45;&#45;%>-->
<!--<%&#45;&#45;</html>&#45;&#45;%>-->

<!DOCTYPE html>
<html>
<body>
<a href="https://google.com">
    <button type="button">Click Me!</button>
</a>
</body>
</html>
